@use '../abstracts/variables' as *;  
  .evento{
    
           &__texto{
            font-size: 18px;
            color: white;
            font-weight: 700;
           }

           &__logo{
            width: 64px;
            height: 64px;
            background: rgba(255, 255, 255, 0.25);
            padding: 12px;
            border-radius: 16px;
           }

           &__container{
            display: flex;
            align-items: center;
            gap: 16px;
            text-decoration: none;

            &:hover{
                .evento__texto{
                    color: $fondo_rosa;
                }
            }
           }

        }