html {
    background-image: url('../../img/ellipse.svg'), url(../../img/ellipse_pequeño.svg);
    background-repeat: no-repeat;
    background-position-x: right ;
    background-position-y:  bottom ;
    
}