@font-face {
    font-family: 'Merriweather';
    src: url(../../fonts/Merriweather_48pt-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'poppins';
    src: url(../../fonts/Poppins-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: 'poppins';
    src: url(../../fonts/Poppins-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}